p {
	text-align: center;
}

h1{
	text-align: center;
}

#date_title {
	font-size: 24px;
	text-decoration: underline;
}

body {
	font-family: "Gill Sans / Gill Sans MT", sans-serif;
	background-color: lightblue;
}

button, input {
	padding-top: 25 px;
	width: 240 px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}

.button_left {
	float: left;
}

.button_right {
	float: right;
}



table {
	border: 1px solid black;
	text-align: center;
	width: 100%;
	vertical-align: center;
}

th, td {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}

